@charset "utf-8";
/* CSS Document */

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #FFFFFF;
}
#header h1 {
	margin: 0px;
	font-size: 24px;
}
#header {
	background-color: #FFECEC;
	padding: 10px;
	border: 1px solid #CCCCCC;
}
h2 {
	font-size: 20px;
	font-weight: bold;
	color: #FF0000;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990000;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding-bottom: 5px;
}
#info {
	background-color: #F0F0F0;
	padding: 5px;
	border: 1px dashed #CCCCCC;
	margin-bottom: 15px;
	font-weight: bold;
}
#footer {
	font-size: 10px;
	color: #666666;
	padding: 5px;
	margin-top: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
fieldset {
	padding: 8px;
}
legend {
	color: #FF0000;
}
.datos {
	padding: 5px;
}
.datos_celdaTit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	background-color: #FFE8E8;
	padding: 2px;
	border: 1px solid #FF0000;
}
.datos_celdaSubTit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #EBEBEB;
	padding: 5px;
	border: 1px solid #000000;
}
.datos_celdaSubTitA {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #B5DDE8;
	padding: 5px;
	border: 1px solid #000000;
}
.datos_celdaSubTitB {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #D7E4BC;
	padding: 5px;
	border: 1px solid #000000;
}
.datos_celdaDato {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #F3F3F3;
	padding: 2px;
	border: 1px solid #CCCCCC;
}
.datos_celdaNumeroA {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #B5DDE8;
	padding: 2px;
	border: 1px solid #CCCCCC;
}
.datos_celdaNumeroV {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #D7E4BC;
	padding: 2px;
	border: 1px solid #CCCCCC;
}
.celdaEduRes {
	font-size: 90%;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #008080;
	padding: 5px;
}
.celdaListaDatBalH {
	background-color: #D7E4BC;
	padding: 2px;
	font-size: 9px;
}
.celdaListaDatBalD {
	background-color: #B5DDE8;
	padding: 2px;
	font-size: 9px;
}
.celdaAFa {
	font-size: 9px;
	color: #FFFFFF;
	background-color: #000099;
	padding: 2px;
}
.celdaAFb {
	font-size: 9px;
	color: #FFFFFF;
	background-color: #0000FF;
	padding: 2px;
}
.celdaAFc {
	font-size: 9px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 2px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
}
.celdaAFd {
	font-size: 9px;
	color: #000000;
	background-color: #EBEBEB;
	padding: 5px;
	border: 1px dashed #CCCCCC;
}
.celdaAFe {
	font-size: 9px;
	color: #000000;
	background-color: #F2F2F2;
	padding: 5px;
	border: 1px dashed #CCCCCC;
}
