@charset "utf-8";
/* CSS Document */

body {
	font-family: Georgia, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	background-image: url(../imagenes/noise_lines.png);
        background-color: #FFF;
	margin: 0px;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    text-decoration: underline;
}

#divHeader {
	background-image: url(../imagenes/fondoHeader.jpg);
	margin: auto;
	height: 105px;
	width: 100%;
}
#divHeaderCont {
	margin: auto;
	height: 105px;
	width: 900px;
	position: relative;
}
#divHeaderContA {
	float: left;
	height: 105px;
	width: 450px;
}
#divHeaderContB {
	float: right;
	height: 95px;
	width: 450px;
	color: #FFF;
	padding-top: 10px;
	background-repeat: no-repeat;
	background-position: center center;
}
#divTitular {
	margin: auto;
	height: 50px;
        background: rgb(246,137,53);
        border-bottom: 1px white solid;
}
.divTitEsq {
	float: left;
	height: 50px;
	width: 20px;
}
#divTitularM {
	color: #FFF;
	margin: auto;
	height: 50px;
	width: 900px;
}
#divFooter {
	margin: auto;
        border-top: 1px gray solid;
        font-size: .75em;
        padding: 3em 0;
        overflow: auto;
        background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(255,255,255,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,0)));
        background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
        background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
        background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#00ffffff',GradientType=0 );
}
#divFooterCont {
	width: 900px;
	margin: auto;
        overflow: auto;
        position: relative;
}
#divFooterLegales {
	float: left;
        text-shadow: 1px 1px 2px gray;
}
#divFooterLegales p {
    margin: 0;
    padding: 0;
}

#divFooterLogo {
	float: right;
}
#divFooterContMenu {
	float: left;
	text-align: center;
	vertical-align: middle;
        margin-left: 100px;
}
#divFooterContMenu a {
	color: rgb(32,154,185);
	text-decoration: none;
}
#divFooterContMenu a:hover {
	text-decoration: underline;
}
#divTitularTitulo {
	float: left;
}
#divTitularTitulo h1 {
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
        text-shadow: 1px 1px 3px rgba(0,0,0,.8);
}
#divTitularSep {
	float: left;
	width: 10px;
}
#divContenido {
	clear: left;
	width: 800px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 65px;
	margin-left: auto;
}
#divContenidoBal {
	clear: left;
	width: 900px;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 65px;
	margin-left: auto;
}
#divTitularMenu {
	color: white;
	float: right;
	margin-top: 15px;
        text-shadow: 1px 1px 2px rgba(0,0,0,.8);
}
#divTitularMenu a {
	text-decoration: none;
	color: inherit;
}
#divTitularMenu a:hover {
	text-decoration: underline;
}
#divContenido a:link a:visited a:active {
	color: #9F0;
}
.celdaSubtit {
	background-color: rgba(40,170,204,.1);
	padding: 10px;
	border: 1px rgb(40,170,204) solid;
        border-radius: 8px;
	font-size: 12px;
        text-shadow: 1px 1px 3px rgba(200,200,200,.5);
}
.divContCuerpo {
	margin-top: 15px;
	margin-bottom: 15px;
	clear: left;
        position: relative;
        overflow: auto;
}
.divContCuerpo form {
	margin: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
}
.divContCuerpo .celdaForm {
	background-color: #E9E9E9;
	padding: 3px;
}
.divContCuerpo .celdaFormAct {
	background-color: rgba(245,245,245,.20);
	padding: 3px;
	color: #FFF;
}
.divContCuerpo .celdaFormLT {
	background-color: #E1FFE1;
	padding: 3px;
}
.divContCuerpo .celdaFormT {
	background-color: #E9E9E9;
	background-image: url(../imagenes/2.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 12px;
	color: #000;
}
.divContCuerpo input, .divContCuerpo select, .divContCuerpo textarea {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
}
.divContCuerpo .tablaForm {
	/* */
}
#divContRemate {
	height: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #999;
	clear: both;
}
.divNavPlan {
	background-color: rgba(255,255,0,.1);
	padding: 10px;
	border: 1px dashed rgb(246,137,53);
	font-size: 12px;
	text-decoration: none;
	margin-bottom: 15px;
        border-radius: 8px;
}
.divNavPlan input, .divNavPlan select {
	font-size: 11px;
	color: #333;
}
.divContCuerpoIzq {
	float: left;
	margin-right: 15px;
}
.corrIzq {
	clear: left;
	margin: 0px;
}
.divContCuerpo fieldset {
	padding-top: 10px;
}
.divContCuerpo .tablaLista {
    font-size: 12px;
	background-color: rgb(246,137,53);
	border: 1px solid #666;
}
.divContCuerpo .celdaListaTit {
	background-color: rgb(253,212,66);
	padding: 3px;
}
.divContCuerpo .celdaListaDat {
	background-color: #FFEBE8;
	padding: 3px;
	border: 1px solid #900;
}
.divContCuerpo .celdaListaDatW {
	background-color: #FF0000;
	padding: 3px;
	border: 1px solid #900;
	color: #FFF;
}
.divContCuerpo .celdaListaDatG {
	background-color: #66FF00;
	padding: 3px;
	border: 1px solid #900;
	color: #333;
}
.divContCuerpo .celdaListaDatV {
	background-color: #D7E4BC;
	padding: 3px;
	border: 1px solid #900;
}
.divContCuerpo .celdaListaDatA {
	background-color: #B5DDE8;
	padding: 3px;
	border: 1px solid #900;
}
#divSupCuerpo {
    font-size: 12px;
	background-color: rgba(40,170,204,.1);
	padding: 10px;
	color: black;
	border: 1px solid rgb(40,170,204);
        border-radius: .5em;
}
.campoSelectPlanilla {
	font-size: 12px;
	color: #333;
	text-decoration: none;
}
.divContCuerpoInfo {
	color: rgb(51,51,51);
	background-color: rgba(0,255,0,.1);
	padding: 5px;
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px green dotted;
        font-size: 12px;
}
#divPortada {
	float: right;
	height: 300px;
	width: 235px;
	margin-right: 50px;
}

.divContCuerpoInfo a {
	font-weight: bold;
	color: #0000FF;
	text-decoration: none;
}
.divContCuerpoInfo a:hover {
	font-weight: bold;
	color: #0000FF;
	text-decoration: underline;
}.celdaEduRes {
	font-size: 90%;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #069;
	padding: 5px;
}
.celdaListaDatBalH {
	background-color: #D7E4BC;
	padding: 2px;
	font-size: 9px;
}
.celdaListaDatBalD {
	background-color: #B5DDE8;
	padding: 2px;
	font-size: 9px;
}
.celdaAFa {
	font-size: 9px;
	color: #FFFFFF;
	background-color: #069;
	padding: 2px;
}
.celdaAFb {
	font-size: 9px;
	color: black;
	background-color: #0cf;
	padding: 2px;
}
.celdaAFc {
	font-size: 9px;
	color: #000000;
	background-color: #FFFFFF;
	padding: 2px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
}
.celdaAFd {
	font-size: 9px;
	color: #000000;
	background-color: #EBEBEB;
	padding: 5px;
	border: 1px dashed #CCCCCC;
}
.celdaAFe {
	font-size: 9px;
	color: #000000;
	background-color: #F2F2F2;
	padding: 5px;
	border: 1px dashed #CCCCCC;
}


/* ================ */
/* NUEVOS ESTILOS */

.h_sistema {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px gray;
    border-bottom: 1px #215063 dotted;
    color: rgb(70,70,70);
}
.h_romero {
    position: absolute;
    top: 60px;
    left: 50px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 3px gray;
    color: #215063;
}
.h_version {
    position: absolute;
    top: 72px;
    left: 204px;
    font-size: small;
    font-style: italic;
    padding-left: 10px;
    text-shadow: 1px 1px 1px white;
}
.h_version:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 0;
    width: 0;
    border: 5px transparent solid;
    border-left-color: gray;
}
.h_fecha {
    position: absolute;
    top: 5px;
    left: 50px;
    font-size: .75em;
    text-shadow: 1px 1px 3px black;
}
.h_libro {
    position: absolute;
    top: 40px;
    left: 450px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    font-size: 16px;
    color: #215063;
    font-weight: bold;
}
.h_libro em{
    font-weight: normal;
    font-size: .75em;
    color: rgb(32,154,185);
    padding: 3px;
    background: rgb(250,250,250);
    border: 1px lightgray dashed;
}
.h_autor {
    position: absolute;
    top: 60px;
    left: 450px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
    font-size: 16px;
    color: #215063;
    font-weight: normal;
    
}
.area-pruebas {
    margin: 0;
    padding: 15px;
    list-style-type: circle;
}
.area-pruebas li {
    font-size: 105%;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.area-pruebas li a {
    color: brown;
    text-decoration: none;
}
.area-pruebas li a:hover {
    text-decoration: underline;
}

.img-portada {
    border: 5px white solid;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}

.form-2014 {
    font-size: 100%;
}

.form-2014 fieldset {
    background: rgba(255,255,255,.5);
    border: 1px lightgrey solid;
    border-radius: .5em;
    padding: 10px;
}

.form-2014 fieldset legend {
    border: 1px lightgrey solid;
    border-radius: .5em;
    padding: 5px 10px;
    background: white;
    text-shadow: 1px 1px 3px lightgray;
}

.form-2014 fieldset label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.form-2014 fieldset input {
    padding: 5px;
    border: 1px lightgrey solid;
    border-radius: .5em;
}

.form-2014 fieldset input[name='usuario'],
.form-2014 fieldset input[name='pwd']
{
    width: 20em;
}

.form-2014 fieldset div {
    margin-bottom: 8px;
}

.form-2014 fieldset div:last-child {
    margin-bottom: 0;
}

.form-2014 button {
    border: 3px white solid;
    background: rgb(32,154,185);
    color: white;
    padding: 5px 10px;
    border-radius: .5em;
    box-shadow: 0 0 3px rgba(100,100,100,.5);
    cursor: pointer;
}

.form-2014 button:hover {
    background: rgb(40,170,204);
}

.form-2014 button:disabled, 
.form-2014 button:hover:disabled {
    background: rgb(240,240,240) !important;
    color: gray;
}

.form-2014 #msgUser {
    color: red;
}

.registrate {
    display: inline-block;
    background-color: rgba(246,137,53,.85);
    padding: 5px 10px;
    border-radius: .5em;
    color: white;
    text-shadow: 1px 1px 3px gray;
    border: 3px white solid;
}

.registrate:hover {
    background-color: rgba(246,137,53,.95);
    text-decoration: none;
}

.msgError {
    position: absolute;
    top: 20px;
    left: 410px;
    padding: 10px;
    background: rgba(255,0,0,.5);
    border: 1px red solid;
    color: white;
    border-radius: 5px;
}

.mostrar-modulos {
    font-size: 12px;
    background: rgba(250,225,150,.05);
    padding: 15px;
    border: 1px lightgray solid;
    border-radius: .5em;
}

.mostrar-modulos legend {
    background: white;
    padding: 5px 10px;
    border: 1px lightgray solid;
    border-radius: .5em;
    text-shadow: 1px 1px 3px lightgray;
}

.mostrar-modulos ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.mostrar-modulos ul li {
    margin-bottom: 5px;
}

.mostrar-modulos li:last-child {
    margin-bottom: 0;
}

.mostrar-modulos ul li a {
    font-size: .85em;
    display: inline-block;
    padding-left: 15px;
}

.mostrar-modulos ul li a:before {
    content: "";
    width: 0;
    height: 0;
    border: 5px transparent solid;
    border-left-color: rgb(246,137,53);
    position: absolute;
    margin-left: -10px;
    margin-top: 2px;
}

.mostrar-modulos select {
    padding: 5px;
    background: white;
    border: 1px lightgray none;
    border-radius: .5em;
}

h3.titulo-principal {
    margin: 0 0 0 10px;
    padding: 0;
    text-shadow: 1px 1px 3px lightgray;
    color: #003366;
}

h3.titulo-principal:before {
    content: "";
    width: 0;
    height: 0;
    border: 5px transparent solid;
    border-left-color: #003366;
    position: absolute;
    margin-top: 6px;
    margin-left: -10px;
}

h4.subtit-4 {
    margin: 0 0 0 10px;
    padding: 0;
    text-shadow: 1px 1px 3px lightgray;
    color: #003366;
}

h4.subtit-4:before {
    content: "";
    width: 0;
    height: 0;
    border: 5px transparent solid;
    border-left-color: #003366;
    position: absolute;
    margin-top: 4px;
    margin-left: -10px;
}

div.migas {
    background: rgba(255,255,255,.25);
    padding: 5px;
    margin-top: 5px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    overflow: auto;
    font-size: 12px;
}

div.migas ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div.migas ul li {
    float: left;
    margin-right: 1em;
}

#msg-done {
    position: fixed;
    z-index: 999;
    width: 400px;
    padding: 10px;
    background: rgba(100,255,100,.85);
    top: 135px;
    left: 50%;
    margin-left: -200px;
    border: 1px green solid;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(100,100,100,.5);
}

table.practicas-balance {
    font-size: 12px;
    margin: auto;
    border: 1px lightgray solid;
}

table.practicas-balance td {
    padding: 5px;
    background: white;
    text-align: left;
}

table.practicas-balance td.resaltado {
    font-weight: bold;
    text-align: center;
}

table.practicas-balance td.tSecion {
    text-align: center;
    padding: 10px;
    border: 2px rgb(200,200,200) solid;
}

table.practicas-balance td.verde {
    background: #B5DDE8;
}

table.practicas-balance td.amarillo {
    background: #D7E4BC;
}

table.practicas-balance td.total {
    border: 2px rgb(150,150,150) solid;
}

table.practicas-balance td span.datos {
    color: rgb(32,154,185);
}

table.practicas-balance td.separador {
    background: rgb(200,200,200);
}

.campo-balance, .campo-agno {
    padding: 2px;
    border: none;
    width: 7em;
    font-family: monospace;
}

.campo-agno {
    border: 1px lightgray solid;
    width: 12em;
}

table.razones {
    font-size: 12px;
    margin: auto;
}

table.razones td {
    padding: 5px;
    background: white;
    text-align: center;
}

table.razones td span.datos {
    color: rgb(32,154,185);
}

table.razones td.resaltado {
    font-weight: bold;
}

table.razones td.area {
    background: #006699;
    color: white;
}

table.razones td.desc {
    background: #00ccff;
}

table.cambios {
    font-size: 12px;
    margin: auto;
}

table.cambios td {
    background: white;
    padding: 5px;
    text-align: center;
}

table.cambios th {
    background: white;
    padding: 5px;
    text-align: center;
    color: black;
    font-weight: normal;
}

table.cambios td span.datos {
    color: rgb(32,154,185);
}

table.cambios td.izquierda {
    text-align: left;
    background: #0cf;
}

table.cambios td.total {
    border: 2px rgb(150,150,150) solid;
    background: #0cf;
}

table.cambios td.azulF, 
table.cambios th.azulF {
    background: #069;
    color: white
}

table.cambios td.azulC {
    background: #0cf;
}

table.cambios td.letrero {
    border-bottom: 1px lightgray solid;
    border-top: 1px lightgray solid;
    background: #0cf;
}

.campo-cambios {
    padding: 2px;
    border: 1px lightgray solid;
    width: 6em;
    font-family: monospace;
}

span.aPractica {
    font-style: italic;
    color: rgb(200,71,71);
}

.campo-cuenta {
    padding: 2px;
    border: none;
    width: 5em;
    font-family: monospace;
}

#msg-editado {
    position: absolute;
    top: 185px;
    left: 175px;
    padding: 3px 5px;
    background: rgba(255,255,255,.5);
    border: 1px lightgray solid;
    font-size: 12px;
    color: green;
    opacity: 0;
    transition: all .25s ease;
}

span.etiqueta {
    font-weight: normal;
    color: rgb(70,70,70);
    text-shadow: 1px 1px 2px rgba(100,100,100,.5);
    margin-bottom: 5px;
    display: inline-block;
    padding-left: 8px;
}

span.etiqueta:before {
    content: "";
    height: 0;
    width: 0;
    border: 4px transparent solid;
    border-left-color: rgb(40,40,40);
    position: absolute;
    margin-top: 3px;
    margin-left: -8px;
}

table.resultado {
    font-size: 10px;
    margin: auto;
    border: 1px lightgray solid;
    font-family: monospace;
}

table.resultado td {
    padding: 5px;
    background: #0cf;
    text-align: left;
}

table.resultado td.resaltado {
    text-align: center;
    background: white;
}

table.resultado td.azulF {
    background: #069;
    color: white;
    text-align: center;
}

table.resultado td.campo {
    background: white;
    padding: 3px;
}

table.resultado input.campo-edo {
    padding: 2px;
    border: 1px lightgray solid;
    width: 5em;
    font-family: monospace;
}

.siguales {
    background: green !important;
    color: white;
}

.sdiferentes {
   background: red !important;
   color: white;
}

a.bActualizar {
    padding: 5px 10px;
    background: rgba(255,155,55,.7);
    border: 2px lightgray solid;
    border-radius: .5em;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

a.bActualizar:hover {
    background: rgba(255,155,55,.9);
    text-decoration: none;
}



/* ============ */
/* CUESTIONARIO */
/* ============ */

.mis-datos {
    margin: 25px auto;
    font-size: 14px;
    border: 1px lightgray solid;
}

.mis-datos td {
    width: 230px;
    padding: 5px;
    background: rgba(255,255,255,.5);
}

.mis-datos td:nth-child(odd){
    text-align: right;
    width: 170px;
    color: rgb(120,120,120);
}

.mis-datos input {
    background: transparent;
    border: 1px lightgray solid;
    width: 15em;
    padding: 5px;
    font-family: monospace;
}

div.objetivos {
    background: rgba(255,255,255,.5);
    padding: 10px;
    font-size: 14px;
    border: 1px lightgray solid;
    margin: 15px 0;
}

div.pregunta-libre, 
div.completar-lineas {
    font-size: 13px;
    padding: 10px;
    background: rgba(255,255,255,.5);
    border: 1px lightgray dashed;
    margin-bottom: 10px;
    position: relative;
}

div.completar-lineas {
    padding-left: 30px;
}

div.pregunta-libre p {
    margin: 0 0 10px 0;
    padding: 0 0 0 25px;
}

div.pregunta-libre p span, 
div.completar-lineas span.num {
    background: #F68935;
    padding: 5px;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    text-align: center;
}

table.correlaciones tr td span.num {
    background: #F68935;
    padding: 5px;
    color: white;
    width: 15px;
    text-align: center;
}

table.verdadero-falso tr td span.num,
p.eje-vi-p span.num, p.eje-vii-p span.num {
    background: #F68935;
    padding: 5px;
    color: white;
    width: 15px;
    text-align: center;
    float: left;
    margin-right: 5px;
}

div.pregunta-libre textarea {
    background: white;
    border: 1px lightgray solid;
    width: 650px;
    height: 7em;
}

table.correlaciones {
    border: 1px lightgray dashed;
    margin-bottom: 35px;
    font-size: 13px;
}

table.correlaciones caption {
    text-align: left;
    padding: 5px 10px;
    background: #F68935;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table.correlaciones tr th {
    padding: 10px;
    background: rgba(255,250,250,.5);
}

table.correlaciones tr td {
    padding: 10px;
    background: rgba(255,255,255,.5);
}

table.correlaciones tr th:last-child {
    width: 200px;
}

table.correlaciones button, 
div.completar-lineas button,
table.verdadero-falso button,
table.opcion-multiple button,
table.opcion-multiple-radio button,
table.eje-vii button {
    background: #F68935;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px transparent solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: all .25s ease;
    box-shadow: 0 0 2px gray;
}

table.correlaciones button:hover, 
div.completar-lineas button:hover,
table.verdadero-falso button:hover,
table.opcion-multiple button:hover,
table.opcion-multiple-radio button:hover,
table.eje-vii button:hover {
    border-color: orangered;
}

table.correlaciones select {
    padding: 10px;
    border: 1px lightgray solid;
    background: white;
}

table.correlaciones select:focus {
    outline: none;
}

table.correlaciones tr:last-child > td:last-child {
    text-align: center;
}

.correcto {
    background: rgba(100,255,100,.3);
    padding: 5px 10px;
    border: 1px lightgray dotted;
    margin-left: 20px;
}

.incorrecto {
    background: rgba(255,100,100,.2);
    padding: 5px 10px;
    border: 1px lightgray dotted;
    margin-left: 20px;
}

.calificacion {
    background: rgba(100,120,220,.1) !important;
    padding: 5px;
    border: 1px lightgray dotted;
    font-size: 110% !important;
}

div.completar-lineas input[type='text']
{
    background: transparent;
    font-family: monospace;
    border: none;
    border-bottom: 1px red dotted;
    font-size: 13px;
    width: 7em;
    margin: 0 5px;
}

div.completar-lineas input[type='text'].corr {
    background: rgba(100,255,100,.1);
}

div.completar-lineas input[type='text'].incorr {
    background: rgba(255,100,100,.1);
    text-decoration: line-through;
}

table.verdadero-falso {
    font-size: 12px;
}

table.verdadero-falso th {
    padding: 5px;
    background: rgba(255,245,245,.5);
    border: 1px lightgray solid;
}

table.verdadero-falso td {
    padding: 5px;
    background: rgba(245,255,245,.5);
    border: 1px lightgray dashed;
}

table.verdadero-falso tr > td:first-child {
    width: 350px;
    text-align: justify;
    padding: 10px;
    color: rgb(51,51,51);
}

table.verdadero-falso textarea {
    width: 18em;
    height: 5em;
}

table.opcion-multiple, 
table.opcion-multiple-radio {
    font-size: 12px;
    width: 500px;
}

table.opcion-multiple th, 
table.opcion-multiple-radio th {
    padding: 5px;
    background: rgba(245,245,245,.5);
    border: 1px lightgray solid;
}

table.opcion-multiple tr > td:last-child {
    text-align: center;
    width: 120px;
}

table.opcion-multiple td, 
table.opcion-multiple-radio td {
    padding: 5px;
    background: rgba(245,255,245,.5);
    border: 1px lightgray solid;
}

table.opcion-multiple-radio td:first-child {
    text-align: center;
}

table.opcion-multiple-radio th {
    text-align: left;
    padding: 15px;
}

p.eje-vi-p, p.eje-vii-p {
    text-align: justify;
    background: rgba(245,245,245,.5);
    padding: 10px;
    border: 1px lightgray solid;
}

table.eje-vi {
    font-size: 12px;
}

table.eje-vi th {
    padding: 5px;
    border: 1px lightgray solid;
    background: rgba(255,245,245,.5);
}

table.eje-vi td {
    padding: 5px;
    border: 1px lightgray solid;
    background: white;
}

table.eje-vi td input[type='text']{
    background: white;
    border: 1px lightgray solid;
    padding: 3px;
}

table.eje-vi td input[type='text'].corr {
    background: rgba(200,255,200,.5);
}

table.eje-vi td input[type='text'].incorr {
    background: rgba(255,200,200,.5);
}

table.eje-vii {
    font-size: 12px;
}

table.eje-vii th {
    padding: 5px;
    border: 1px lightgray solid;
    background: rgba(255,245,245,.5);
}

table.eje-vii td {
    padding: 5px;
    border: 1px lightgray solid;
    background: white;
}

table.eje-vii td input[type='text']{
    background: white;
    border: 1px lightgray solid;
    padding: 3px;
    width: 7em;
    margin-left: .5em;
}

table.eje-vii td input[type='text'].corr {
    background: rgba(200,255,200,.5);
}

table.eje-vii td input[type='text'].incorr {
    background: rgba(255,200,200,.5);
}

table.eje-vii td.correcto {
    background: rgba(100,255,100,.3);
}

table.eje-vii td.incorrecto {
    background: rgba(255,100,100,.3);
}



#cortinilla {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 999;
    display: none;
}

#cortinilla .recPwd {
    position: absolute;
    width: 400px;
    height: 350px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -200px;
}

#cortinilla .recPwd #msgUserRec {
    background: rgba(255,0,0,.5);
    color: white;
    padding: 5px;
    font-size: 12px;
    display: none;
}